.landingPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 182px;
    scroll-margin-top: 86px;
}

.landingPage__titleFigure {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.landingPage__titleWrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-left: var(--padding-inline);
}

.landingPage__titleImg {
    aspect-ratio: auto;
    width: clamp(280px, 59.21vw, 1200px);
    user-select: none;
    z-index: 2;
}

.landingPage__mouseWrapper {
    position: relative;
    top: 144px;
    display: flex;
    justify-content: center;
}

.landingPage__skullImg {
    opacity: 0;
    transform: translateY(-40px);
    aspect-ratio: auto;
    width: clamp(320px, 50vw, 1024px);
    position: absolute;
    top: -20vw;
    right: 0px;
    z-index: 1;
    animation: driftIn 1.25s ease forwards;
}

@keyframes driftIn {
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width: 1024px) {
    .landingPage {
        position: relative;
        width: 100vw;
        height: 75vh;
        padding-top: 182px;
        scroll-margin-top: 86px;
    }

    .landingPage__skullImgWrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100vw;
    }

    .landingPage__skullImg {
        opacity: 0;
        transform: translateY(-40px);
        aspect-ratio: auto;
        width: clamp(420px, 50vw, 1024px);
        position: relative;
        top: -10vw;
        right: 0px;
        z-index: 1;
        animation: driftIn 1.25s ease forwards;
    }

    .landingPage__titleFigure {
        justify-content: center;
        align-items: center;
    }

    .landingPage__titleWrapper {
        padding: 0;
    }
}